{% extends 'base2.html' %}
{%block  content%}
{% comment %} <h1> Mes projets</h1> {% endcomment %}
{% comment %} <ul> {% endcomment %}

<!-- Form Section  -->
<section id="container" class="form-inscription text-center">
    <form action="" method="POST">
        <h1 class="connect text-center">Inscription</h1>
        <label><b>Nom:</b></label>
        <input type="text" placeholder="Entrer votre nom" name="nom" required>

        <label><b>Prénom:</b></label>
        <input type="text" placeholder="Entrer votre prénom " name="prenom" required>

        <label><b>Email:</b></label>
        <input type="text" placeholder="Entrer votre mail" name="email" required>

        <label><b>Mot de passe:</b></label>
        <input type="password" placeholder="Entrer le mot de passe" name="password" required>

        <label><b>Confirmez votre mot de passe:</b></label>
        <input type="password" placeholder="Entrer le mot de passe" name="password" required>

        <input type="submit" id='submit' value="S'inscrire ">
    </form>
</section>

<!-- End form Section  -->

    <div class="clearfix "></div>

{%endblock%}
